body{
  background:url(https://wallpaperplay.com/walls/full/8/8/a/78866.jpg);
  background-repeat: no-repeat;
  
}

div{

  background:blue;
  border-color: orange;
  border-width: 4px;
  border-style:double;
}

p{
  color: yellow;
}

span{
  background: red;
  color: black;

}
